@import "tailwindcss";

@theme {
  --color-background: #0B0F19;
  --color-surface: #131A26;
  --color-primary: #58C1F0;
  --color-secondary: #A78BFA;
  --color-accent: #1FCAC5;
  --color-text: #E2E8F0;
  --color-muted: #94A3B8;
  --color-danger: #EB5757;
}

@layer base {
  body {
    @apply bg-background;
  }
}